.resource-item-container {
  width: 30%;
  min-height: 400px;
  margin: 20px 0;
}
.resource-title {
  font-size: 18;
}
.resource-media {

}
.resource-description {
  text-align: start;
}
.resource-list-media-image {
  max-width: 500px;
  height: auto;
}

.card-actions {
  align-items: flex-end;
}
