.resource-item-container{
  border: 2px solid blue;
  width: 30%;
  min-height: 400px;
  margin: 20px 0;
}
.resource-title{

}
.resource-media{

}
.resource-description{
  text-align: start;
}
.resource-list-media-image{
  width: 200px;
  height: 200px;
}